<div ng-controller="examArrangeCtrl" style="padding-top:5%;width: 80%;text-align: center;height:25%">   
   <div style="margin-bottom:3%"> 
        <!--场次<select style="width:10%" ng-model="sumSelected" ng-options="x for x in sumLists | orderBy:'subName'"><input type="checkbox" ng-model="x"></select>-->
        试卷安排 <button type="button" ng-click="sumExport()" class="btn btn-primary">导出</button>
    </div>
    <div>
        <!--场次<select style="width:10%" ng-model="stuSelected" ng-options="x for x in sumLists | orderBy:'subName'"></select>-->
        考生安排 <button type="button" ng-click="stuExport()" class="btn btn-primary">导出</button>
    </div>
</div>