<div class="col-md-8 col-md-offset-2" ng-controller="roomIputCtrl" style="padding-top:2%">
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align:center;font-size:150%">

            考场信息
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">考场名：</span><input ng-model="roomName" type="text" class="form-control">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">座位号：</span><input ng-model="seatName" type="text" class="form-control">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">IP地址：</span><input ng-model="ipAdd" type="text" class="form-control">
            </div>
            <br>
            <div class="form-group" style="text-align:center">
                <button class="btn btn-primary" ng-click="save()">保存</button> <button class="btn btn-info" ng-click="delete()">下一个</button>
            </div>
        </div>
    </div>
</div>