<div class="col-md-8 col-md-offset-2" ng-controller="stuInputCtrl" style="padding-top:2%">
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align:center;font-size:150%">
            学生信息
        </div>

        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">姓名：</span><input ng-model="stuName" type="text" class="form-control">
                 <span class="input-group-addon">性别：</span><input ng-model="stuGender" type="text" class="form-control">
            </div>
            <br>
            <!--<div class="input-group">
               
            </div>
            <br>-->
            <div class="input-group">
                <span class="input-group-addon">证件号：</span><input ng-model="stuId" type="text" class="form-control">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">照片：</span>
               
                <input type="file" id="selectPic" style="display:none" custom-on-change="selectFile">
            
                <input ng-model="stuPicture" placeholder="选择文件" disabled class="form-control" style="width:20%">
                <label for="selectPic" class="btn btn-primary">选择文件</label></button>
                <button type="button" ng-click="upload()" class="btn btn-info">导入</button>
               
                    
               
            </div>
            <uib-progressbar class="progress-striped active" animate='false' value="progressPer" type="success" style="width:30%" align="center" ng-show=ngshow>{{progressPer}}%</uib-progressbar>
            <span>{{progressInfo}}</span>
            <br>
            <div class="input-group">
                <span class="input-group-addon">科目：</span><input ng-model="stuSubject" type="text" class="form-control">
                 <span class="input-group-addon">科目编号：</span><input ng-model="stuSubNum" type="text" class="form-control">
            </div>
            <br>
            <!--<div class="input-group">
               
            </div>
            <br>-->
            <div class="form-group" style="text-align:center">
                <button class="btn btn-primary" ng-click="save()">保存</button> <button class="btn btn-info" ng-click="delete()">下一个</button>

            </div>
        </div>
    </div>
</div>