<div class="col-md-8 col-md-offset-2" ng-controller="subjectCtrl"  style="padding-top:2%">
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align:center;font-size:150%">
            科目
        </div>
        <div class="panel-body">
            <div class="input-group">
                <span class="input-group-addon">专业名称：</span><input ng-model="majorName" type="text" class="form-control">
                <span class="input-group-addon">专业编号：</span><input ng-model="majorNum" type="text" class="form-control">
            </div>
            <div class="input-group">
                <span class="input-group-addon">科目名称：</span><input ng-model="name" type="text" class="form-control">
                <span class="input-group-addon">科目编号：</span><input ng-model="nameNum" type="text" class="form-control">
            </div>
            <div class="input-group">
                <span class="input-group-addon">试卷编号：</span><input ng-model="examNumber" type="text" class="form-control">
                <span class="input-group-addon">考试时长：</span><input ng-model="duration" type="text" class="form-control" placeholder="分钟">
            </div>
            <div class="input-group">
                <span class="input-group-addon">最早交卷时间：</span><input ng-model="earliestSubmit" type="text" class="form-control" placeholder="分钟">
                <span class="input-group-addon">最晚登录时间：</span><input ng-model="latestLogin" type="text" class="form-control" placeholder="分钟">
            </div>
            <div class="input-group">
                <input type="checkbox" ng-model="scoreShow">考试结束显示分数
            </div>
            <div class="input-group">
                <span>题型：</span>
            </div>
            <div>
                <span>  <input type="checkbox" ng-model="singleCheckbox"><span>单选题</span> </span>
                <span class="input-group">
                <span  class="input-group-addon">分值：</span><input ng-model="singleScore" type="text" class="form-control" placeholder="分">
                </span>

            </div>
            <div>
                <input type="checkbox" ng-model="multipleCheckbox">多选题
                <span class="input-group">
                <span  class="input-group-addon">满分：</span><input ng-model="multifulScore" type="text" class="form-control" placeholder="分"> <span class="input-group-addon">少选：</span><input ng-model="multiScore" type="text" class="form-control"
                    placeholder="分">
                </span>
            </div>
            <div>
                <input type="checkbox" ng-model="judgeCheckbox">判断题 
                <span class="input-group">
                <span class="input-group-addon">分值：</span>
                <input ng-model="judgeScore" type="text" class="form-control" placeholder="分">
                </span>
            </div>
            <div>
                <input type="checkbox" ng-model="matchCheckbox">匹配题 
                <span class="input-group">
                <span class="input-group-addon">单个匹配正确分值：</span>
                <input ng-model="matchScore" type="text" class="form-control" placeholder="分">
                </span>
            </div>
            <div >
                <input type="checkbox" ng-model="simpleCheckbox">简答题 
                <span class="input-group">
                <span class="input-group-addon">分值：
                </span>
                <input ng-model="simpleScore" type="text" class="form-control" placeholder="分">
                </span>
            </div>
            <div >
                <input type="checkbox" ng-model="fillBlankCheckbox">填空题 
                 <span class="input-group">
                <span class="input-group-addon">单个空正确分值：
                </span><input ng-model="fillBlankScore" type="text" class="form-control" placeholder="分">
                 </span>
            </div>
            <div>
                <input type="checkbox" ng-model="machineCheckbox">上机题 
                 <span class="input-group">
                <span class="input-group-addon">分值：
                </span><input ng-model="machineScore"  type="text" class="form-control" placeholder="分">
                 </span>
            </div>
            <div class="form-group" style="text-align:center">
                <button class="btn btn-primary" ng-click="save()">保存</button> <button class="btn btn-info" ng-click="startType()">开始录入题目</button>
            </div>
        </div>
    </div>
    <!--<br><br><br><br><br><br><br><br><br><br><br><br><br><br>-->
</div>