<div class="col-md-8 col-md-offset-2" ng-controller="typeCtrl" style="padding-top:2%">
    <div class="panel panel-primary">
        <div class="panel-heading" style="text-align:center;font-size:150%">
            选择题型
        </div>
        <br>
        <div class="form-group" style="text-align:center" ng-repeat="x in typeLists">
            <input type="radio" ng-model="typeSelected.type" value="{{x}}">{{x}}
        </div>
        <br>
        <div class="form-group" style="padding-left:42%">
            <button class="btn btn-primary" ng-click="typeConfirm(typeSelected.type)">确认</button>
            <a ng-click="singleReturn()" style="text-decoration:underline;padding-left:3%;cursor:pointer">返回科目录入</a>
        </div>
    </div>
</div>